<main>
  <div class="left">
    <div class="menu">
      <!-- <div><img src="/assets/image/Feed.png" alt="">Feed</div>
      <div><img src="/assets/image/Ask.png" alt="">Ask and Colleague</div>
      <div><img src="/assets/image/Companies.png" alt="">Companies</div>
      <div><img src="/assets/image/Services.png" alt="">Services Directory </div>-->
      <form action="">
        <input type="button" value="Feed" id="Feed">
        <input type="button" value="Ask and Colleague" id="Ask">
        <input type="button" value="Companies" id="Companies">
        <input type="button" value="Services Directory" id="Services">
      </form>
      <div class="ads"><br>Advertisement<br><br><a href="#"><img src="./assets/image/Crow.png" alt=""></a>
        <p>Ads by Denteez.com</p>
      </div>
      <div class="Company">
        <div class="right1">
          <div>Featured Companies</div>
          <div class="all">See All</div>
        </div>
        <div class="right2 left1">
          <img src="./assets/image/Layer 39.png" alt="">
          <div class="right3">
            <div class="name">Company Name</div>
            <div class="adress">Manufacturer Belgrad, Serbia </div><br>
            <button class="btn2">Follow Now</button>
          </div>
        </div>
        <div class="right2 left1">
          <img src="./assets/image/Layer 40.png" alt="">
          <div class="right3">
            <div class="name">Company Name</div>
            <div class="adress">Service Provider New York, USA </div><br>
            <button class="btn2">Follow Now</button>
          </div>
        </div>
        <div class="right2 left1">
          <img src="./assets/image/Layer 41.png" alt="">
          <div class="right3">
            <div class="name">Company Name</div>
            <div class="adress">Supplier London, England </div><br>
            <button class="btn2">Follow Now</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="center">
    <div class="center1">
      <div>Service Directory</div>
      <button id="btnAdd">Add New Service</button>
    </div>
    <div class="Categories">
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Accountancy"></div>
          <div><br>Accountancy</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Associations"></div>
          <div><br>Associations</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Buy"></div>
          <div><br>Buy/Sell Dental <br> Practice</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Clinical"></div>
          <div><br>Clinical Waste<br> Collection</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Computer"></div>
          <div><br>Computer Service</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="CPR"></div>
          <div><br>CPR/Basic Life <br>Support Training</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Recruit"></div>
          <div><br>Dental Recruitment</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Soft"></div>
          <div><br>Dental Software</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Electrical"></div>
          <div><br>Electrical Safety <br>And Testing</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Marketing"></div>
          <div><br>Marketing</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Others"></div>
          <div><br>Others</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Repairs"></div>
          <div><br>Repairs</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Solisitors"></div>
          <div><br>Solisitors</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Surgery"></div>
          <div><br>Surgery Design</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Training"></div>
          <div><br>Training & Courses</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Web"></div>
          <div><br>Web Designers</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Cleaning"></div>
          <div><br>Cleaning Agencies</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Chair"></div>
          <div><br>Dental Chair<br> Recovery</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Equipment"></div>
          <div><br>Equipment<br> Engineering</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Selling"></div>
          <div><br>Selling Gold</div>
        </a>
      </div>
      <div class="imgDescriprion"><a href="">
          <div class="imgCategory" id="Uniform"></div>
          <div><br>Uniform & <br>Workwear</div>
        </a>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="right1">
      <div>People you may know</div>
      <div class="all">See All</div>
    </div>
    <div class="name">Dennis Adams</div>
    <div class="right2">
      <img src="./assets/image/Layer 36.png" alt="">
      <div class="right3">
        <div class="adress">Dentist (Practice Owner)</div>
        <div class="adress">London, England </div><br>
        <button class="btn2">Add Friend</button>
      </div>
    </div><br>
    <div class="name">Mary Carpenter</div>
    <div class="right2">
      <img src="./assets/image/Layer 37.png" alt="">
      <div class="right3">
        <div class="adress">Dentist (Practice Owner)</div>
        <div class="adress">Belgrad, Serbia </div><br>
        <button class="btn2">Add Friend</button>
      </div>
    </div><br>
    <div class="name">Danielle Salazar</div>
    <div class="right2">
      <img src="./assets/image/Layer 38.png" alt="">
      <div class="right3">
        <div class="adress">Dentist (Practice Owner)</div>
        <div class="adress">Paris, Franse </div><br>
        <button class="btn2">Add Friend</button>
      </div>
    </div>
    <div class="right1">
      <div>Featured Product</div>
      <div class="all">See All</div>
    </div><br>
    <div class="name">Product Name</div>
    <div class="right2">
      <img src="./assets/image/Layer 34.png" alt="">
      <div class="right3">
        <div class="adress">Product Short Description</div>
        <div class="adress">The quick brown fox jumps over the lazy dog</div>
      </div>
    </div><br>
    <div class="name">Product Name</div>
    <div class="right2">
      <img src="./assets/image/Layer 35.png" alt="">
      <div class="right3">
        <div class="adress">Product Short Description</div>
        <div class="adress">The quick brown fox jumps over the lazy dog </div>
      </div>
    </div>
    <div class="ads"><br>Advertisement<br><br><a href="#"><img src="./assets/image/Hottest.png" alt=""></a>
      <p>Ads by Denteez.com</p>
    </div>
  </div>

</main>
